#Ignore mac system files
.DS_store

#ignore python caches
__pycache__
.pyc
.pyo

#Don't add the Obs_Docs
Obs_Docs

#Ignore some stuff in Data
Data/
Data/Ancillary_Data/not_used/
Data/*.fits
Data/Cycle8_GR_OT_08_0225_RLevy_release_v2/*.fits
Data/Cycle8_GR_OT_08_0225_RLevy_release_v2/*.pdf
Data/Cycle8_GR_OT_08_0225_RLevy_release_v2/*.png
Data/Cycle8_GR_OT_08_0225_RLevy_release_v2/*.dat
Data/Disk_Map/Moments_undersampledcube/
Data/Outflow_Pointings/CII/outflow2*
Data/Outflow_Pointings/CII_Moments/outflow2*
Data/Outflow_Pointings/CII/M82_CII_outflow_stacked.fits
Data/Outflow_Pointings/CII/unclear_pixel_order/
Data/Outflow_Pointings/CII_GaussianFits/
Data/Outflow_Pointings/CO/
Data/Outflow_Pointings/CO_TP/outflow2*
Data/Outflow_Pointings/CO_TP_Moments/outflow2*
Data/Outflow_Pointings/HI/24as/
Data/Outflow_Pointings/HI/outflow2*
Data/Outflow_Pointings/HI_Moments/outflow2*
Data/Outflow_Pointings/PACS/
Data/upGREAT_Footprint_Regions/

#Ignore data that's too large
Data/Ancillary_Data/M82-NOEMA-30m-mask-merged.clean.fits
Data/Ancillary_Data/M82-NOEMA-30m-mask-merged.clean_smoothedCII.fits
Data/Ancillary_Data/m82_hi_image_5kms_feathered_pbcor.fits
Data/Ancillary_Data/m82_hi_image_5kms_feathered_pbcor_K.fits

#Ignore some plot directories
Plots/